<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- Load the ASP.NET Core plugin -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="System.Data.SqlClient"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <target name="console" xsi:type="Console" />

    <!-- write logs to file -->
    <target name="file"
            xsi:type="File"
            fileName="${basedir}/code-generator.log"
            layout="[${longdate}][${logger}][${uppercase:${level}}]:${message} ${exception}"
            archiveAboveSize="100000000"
            maxArchiveFiles="10"
            archiveFileName="${basedir}/code-generation.log.{##}"
            archiveNumbering="Rolling"
            concurrentWrites="true"
            keepFileOpen="false"
            deleteOldFileOnStartup="true"
    />

    <!-- write to the void aka just remove -->
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!-- Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />

    <!-- File Only logs -->
    <logger name="FileOnly.*" minlevel="Trace" writeTo="file" final="true" />

    <!-- All other logs -->
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="file" />
    <!--<logger name="*" minlevel="Trace" writeTo="database"/>-->
  </rules>
</nlog>